
@if (Context.User.Identity.Name != null)
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Book Clubs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">My Book List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Book Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">My Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Discussion</a>
        </li>
    </ul>

    <form asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right">

       
        <ul class="nav navbar-nav navbar-right">            
            <li>
                 <button type="submit" class=" btn btn-link navbar-btn nav-link text-dark">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <a class="navbar-brand" asp-area="">Book Club Management</a>
    <ul class="navbar-nav flex-grow-1">
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a class =" nav-link text-dark" asp-controller="Account" asp-action="SignUp">SignUp</a></li>
        <li><a class=" nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}
