<h2>Hello @ViewBag.Name! </h2>
<h4>Welcome to Book Club Management System where users can join book clubs, participate in discussions, and manage their reading lists.</h4>
<img src="/Images/BookClubWelcome.jpg" />
